

li{
    list-style: none;
    
}
.logo{
    padding-left: 8px;
}

.dropdownDelayButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: flex;
}

.dropdownDelayButton::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 0.5s ease-in-out;
    margin-right: 18px;
}

.dropdownDelayButton:hover::after {
    width: 86%;
}

